.time-and-interval {
  display: flex;
  flex-direction: row;
}

.event-menu__small-wrapper {
  margin-top: 0.6vh;
  width: 48%;
}

.event-menu__drop-down-select .dropdown__control {
  height: 6vh;
}


