.spinner-wrapper {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  height: 90%;
  justify-content: center;
  left: 0;
  padding-bottom: 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
