.classrooms-filter {
  position: relative;
}

.classrooms-filter__date-picker {
  font-size: 3.5vh;
  height: 6vh;
  line-height: 4vh;
  margin: 0 auto;
  min-height: 40px;
  padding-left: 10px;
  width: 90%;
}

.classrooms-filter__delimiter {
  background-color: #087f24;
  height: 2px;
  margin-bottom: -1vh;
  margin-top: 2.5vh;
}
