.list-occupations {
  display: block;
  margin: 0 auto;
  padding: 0 0.5vw;
  width: max-content;
}

.list-occupations__occupation {
  display: block;
  font-size: calc(4px + 0.8vw);
  font-weight: 700;
  line-height: calc(4px + 1vw);
  margin: 1px 0 0;
  text-transform: lowercase;
}

.list-occupations__occupation_free {
  color: #558b2f;

  &:hover {
    color: #00c853;
  }
}

.list-occupations__occupation_occupied {
  color: #ad1457;

  &:hover {
    color: #d50000;
  }
}

.list-occupations__list-item {
  margin: 0;
}

.occupation-section {
  overflow: auto;
}

.each_even_week {
  color: #bfa55c;

  &:hover {
    color: #e3ba27;
  }
}

.each_odd_week {
  color: #6c32d9;

  &:hover {
    color: #c84bf2;
  }
}

.every_week,
.each_even_week.each_odd_week {
  color: #6c7b80;

  &:hover {
    color: #0d1112;
  }
}
