.side-menu {
  background: #f7f7f7;
  border-bottom: 2px solid #4caf51;
  border-right: 3px solid #4caf51;
  border-top: 2px solid #4caf51;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: all ease 0.65s;
  width: 25%;
  z-index: 4;
}

.side-menu_close {
  transform: translate3d(-100%, 0, 0);
}
