.message {
  color: #b00020;
  display: block;
  font-size: 2.8vh;
  line-height: 3.3vh;
  margin: 3px 0;
  min-height: 19px;
  text-align: center;
}

.register-page__error-message__error {
  margin-bottom: 0.5vh;
}

.filter__pattern-message {
  color: #000;
  font-size: 2vh;
  margin: 0 auto -3vh;
  text-align: start;
  width: 90%;
}

.event-comment {
  color: #5e5e5e;
  font-size: 2.5vh;
  margin-bottom: 1vh;
}

.period-compact__message {
  color: #000;
  font-size: 2.2vh;
  font-weight: 500;
  line-height: 2.5vh;
}
