.field {
  border: 0;
  font-family: Roboto, Constantia, sans-serif;
  outline: 0;
}

.label-block__field {
  border-bottom: 1px solid #5e5e5e;
  font-size: 3.2vh;
  font-weight: 400;
  height: 6vh;
  line-height: 4vh;
  margin-top: 0.8vh;
  transition: all 0.2s;

  &:focus {
    border-color: #4caf51;
    caret-color: #4caf51;
    color: #4caf51;
  }
}

.label-block__field_error {
  border-bottom: 1px solid #b00020;
  box-shadow: none;
  color: #b00020;
}

.base-field {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0.3vh 0.2vh 0.1vh rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #000;
  height: 6.3vh;
  min-height: 20px;

  &:focus {
    border-color: #087f24;
    box-shadow: none;
    color: #000;
  }
}

.base-field__text {
  height: 20vh;
}

.base-field.label-block__field_error {
  border: 2px solid #b00020;
  box-shadow: none;
}

.date-range__date-picker {
  font-size: 1.4vw;
  height: 6.5vh;
  width: 100%;
}

.time-and-interval__time {
  font-size: 1.8vw;
}
