.dialog-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 100%;
  z-index: 4;
}

.dialog-wrapper_hidden {
  display: none;
}

.dialog-window {
  background-color: #f7f7f7;
  border: 2px solid #087f24;
  border-radius: 15px;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  z-index: 5;
}

.dialog-window_hidden {
  display: none;
}
