.text-area {
  display: flex;
  flex-direction: column;
}

.text-area_small {
  height: 15vh;
  margin-top: -1.5vh;
  min-height: 60px;
}

.text-area__text {
  color: #000;
  font-size: 2.45vh;
  line-height: 2.95vh;
  margin: 0;
  text-transform: uppercase;
  top: 1em;
}

.text-area_small .text-area__text {
  font-size: 2vh;
  line-height: 2.5vh;
  top: 1.3em;
}

.text-area__text_active {
  color: #087f24;
}

.text-area__input {
  font-size: calc(6px + 1.2vh);
  outline: none;
  padding-top: 2vh;
  resize: none;
}

.text-area__text_error {
  color: #b00020;
}

.base-field.text-area__input_error {
  border-color: #b00020;
}
