.lesson-dialog {
  height: 30%;
  left: 30%;
  top: 35%;
  width: 40%;
}

.lesson-dialog__header-name {
  margin: 2% 0 1%;
}

.lesson-dialog__lesson-info {
  color: #000;
  font-size: 20px;
  line-height: 24px;

  &:nth-child(2) {
    margin-top: 8px;
  }

  &:last-child {
    margin-top: 14px;
  }
}
