.text-area {
  display: flex;
  flex-direction: column;
}

.text-area__text {
  color: #000;
  margin: 0;
  text-transform: uppercase;
}

.text-area__text_active {
  color: #087f24;
}

.text-area__input {
  outline: none;
  resize: none;
}

.text-area__text_error {
  color: #b00020;
}

.base-field.text-area__input_error {
  border-color: #b00020;
}
