.filter {
  border-right: 2px solid #087f24;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 3.7vh;
  position: absolute;
  width: 25%;
}

.filter_close {
  transform: translate3d(-101%, 0, 0);
}

.filter__apply-filter {
  align-self: center;
  font-size: 2.5vh;
  height: 5vh;
  margin-top: 3vh;
  min-height: 40px;
  overflow: hidden;
  width: 90%;
}

.filter__label {
  color: #000;
  font-size: 2.5vh;
  line-height: 3vh;
  margin: 0 auto;
  overflow: hidden;
  text-transform: none;
  white-space: nowrap;
  width: 90%;

  &:hover {
    overflow: visible;
  }
}

.filter__field {
  padding-left: 10px;
}
