.classroom-compact {
  align-items: center;
  background-color: #4caf51;
  border-left: 2px solid #4caf51;
  border-radius: 5px;
  border-top: 2px solid #4caf51;
  box-shadow: 0.2vw 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 27vh;
  margin: 0.8vh 0.5vw;
  min-height: 120px;
  min-width: 90px;
  overflow: hidden;
  width: 8vw;

  &:hover {
    border-color: #087f24;
    box-shadow: 0.2vw 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.45);
  }
}

.classroom-compact__button {
  background-color: #4caf51;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 2vh;
  height: 3.4vh;
  width: 100%;

  &:hover::before {
    background: rgba(0, 0, 0, 0.04);
  }

  &:focus::before {
    background: rgba(0, 0, 0, 0.12);
  }
}

.classroom-compact__times {
  background-color: #f8f7fc;
  height: 23vh;
  min-height: 100px;
  min-width: 80px;
  overflow-x: hidden;
  overflow-y: auto;
}
