.header {
  text-align: center;
}

.classroom-header,
.edit-header {
  color: #000;
  font-size: 5.5vh;
  margin: 0;
  text-align: center;
}

.event-header {
  color: #000;
  font-size: 3vh;
  margin: 1vh 0 0.5vh;
}
